# Assignment 20 Solutions

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system.'

with open('test.txt', 'w') as file:
    file.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()
    
if test1 == test2:
    print("There is no difference between test1 and test2.")
else:
    print("There is a difference between test1 and test2.")

There is no difference between test1 and test2.

#### 3. Create a CSV file called books.csv by using these lines:
`title,author,year`  
`The Weirdstone of Brisingamen,Alan Garner,1960`  
`Perdido Street Station,China Miéville,2000`  
`Thud!,Terry Pratchett,2005`  
`The Spellman Files,Lisa Lutz,2007`  
`Small Gods,Terry Pratchett,1992`

In [3]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv created successfully!")

books.csv created successfully!

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Connect to the database 
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Create the books table with the specified fields
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (title TEXT,author TEXT,year INTEGER    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("books.db database and books table created successfully!")

books.db database and books table created successfully!

#### 5. Read books.csv and insert its data into the books table.

In [5]:
import csv
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the books table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (title TEXT, author TEXT,year INTEGER    )
''')

# Read the data from the CSV file and insert into the books table
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row

    for row in reader:
        title, author, year = row
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (title, author, year))

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data inserted successfully into the books table in books.db!")

Data inserted successfully into the books table in books.db!

#### 6. Select and print the title column from the books table in alphabetical order.

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select the title column from the books table in alphabetical order
cursor.execute('SELECT title FROM books ORDER BY title')

# Fetch all the rows returned by the query
rows = cursor.fetchall()

# Print the title column
for row in rows:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the books table, select and print all columns in the order of publication.

In [7]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select all columns from the books table in the order of publication
cursor.execute('SELECT * FROM books ORDER BY year')

# Fetch all the rows returned by the query
rows = cursor.fetchall()

# Print the columns
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')
# Establish a connection
conn = engine.connect()
print("Connection to books.db established successfully!")

Connection to books.db established successfully!

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
! python -m pip install redis

Defaulting to user installation because normal site-packages is not writeable
Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     -------------------------------------- 240.3/240.3 kB 2.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Using cached async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [14]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'13'